#sketchPadContainer {
    display:grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-area: sketchPad;
    border: solid blue;
    
}

body {
   display:grid;
   grid-template-columns: 800px;
   align-items: center;
   grid-template-areas: 
   'sketchPad sketchPad sketchPad sketchPad options';
   
}

 .dimension {
    width: 20px;
    
}

#optionsContainer {
grid-area:options

}

.square{
    border:solid green;
    justify-self: center;
        
}

