#sketchPadContainer {
    display:grid;
    grid-template-columns: repeat( 5, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-area: sketchPad;
    border: solid blue;
    row-gap: 0;
    column-gap: 0;   
    width: 450px;
    height: 450px;
    justify-content: space-evenly;
}

body {
   display:grid;
   grid-template-areas: 
   '. options . '
   '. sketchPad .'
   '. sketchPad .';
      justify-content: center;
   
   
}

.dimension {
    width: 50px;
    
}


#options{
    grid-area: options;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px

}

.option {
    margin-left:10px;
}

#size {
    width: 20px;
    margin-left: 0;
}
 
.square{
    border:solid lightgrey;
    justify-self: stretch;
     
}